* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:#1f2022;
  color: whitesmoke;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*-----Navbar styles----- */

.container {
 margin: auto;
 text-align: center;
}

.nav {
  background-color:rgb(18, 18, 22);
  color:whitesmoke;
  display:flex;
  position:relative;
  justify-content:space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 4rem;
  font-size: 1.05rem;
  margin-left: 2rem;
  margin-right: 1.7rem;
  margin-inline: 0rem;
}

.site-title {
  font-size: 2.3rem;
  font-style:italic;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #4d5057;
}

.nav li:hover {
  background-color: #404448bb;
  transition: .1s;
}

/*-----Concepts page styles + divider ----- */
ul {
  list-style-type: none;
}

.divider {
  border-top: 1px solid whitesmoke;
  max-width: 55%;
}

.smallDivider {
  border-top: 1px solid whitesmoke;
  max-width: 35%;
}

.bold {
  font-weight: bold;
}

.conceptStyles h2 {
font-size: 1.7em;
text-decoration: none;
}

.conceptStyles h3 {
  font-size: 1.4em;
}


.conceptStyles ul {
 padding: 10px;
}

.conceptStyles li {
padding: 2px;
}

.conceptStyles a {
    text-decoration: none;
    display:block;
    text-align:center;
    height: flex;
    color:whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    /*---Fade out--- */
    background: auto;
    transition: 0.1s;
}

.conceptStyles a:hover {
  background: rgba(206, 202, 222, 0.153);
  transition: 0.3s;
}

.conceptStyles a:focus {
  color:aliceblue;
  background-color: rgba(229, 226, 241, 0.274);
}

/*-----Main styles for general articles-----*/

.articleStyles p {
  display: flex;
  text-align: left;
  align-items:center;
  text-indent: 2em;
  margin: auto;
  max-width: 70%; 
  padding: .4rem;
}

.articleStyles h4 {
  margin:auto;
  text-align:center;
  max-width:50%;
  padding: 4px;
}

.articleStyles ul {
  display: flex;
  text-align: center;
  align-items:center;
  margin: auto;
  max-width: 60%; 
  padding: .4rem;
}

.articleStyles li {
  list-style:none;
  padding: 2px;
  }

  .articleStyles dt {
    font-weight: bold;
    font-size: 1.3em;
    padding: 2px;
  }

  .articleStyles dd {
    max-width: 60%;
    margin:auto;
    padding: .4rem;
    margin-bottom: 1em;
  }

  .articleStyles a {
    display:flexbox;
    text-decoration:underline;
    color:rgb(65, 65, 235);
    background: auto;
    transition: 0.1s;
  }
  
  
  .articleStyles a:focus {
    color:blueviolet;
  }

.articleStyles img { /*For image aspect ratios of 1824x1026, primarily for game screenshots */
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.articleStyles figcaption {
  margin:auto;
  font-style: italic;
  font-size: 0.9rem;
  max-width: 55%;
  text-align:center;
}

.articleStyles video {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.numpadImg {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 70%;
}

/*-----Error page styles -----*/

.notFound a {
  text-decoration:underline;
  color:rgb(65, 65, 235);
  background: auto;
  transition: 0.1s;
}

.notFound a:hover {
  color: whitesmoke;
}

.notFound a:focus {
  color:blueviolet;
}

.notFound p {
  display: flex;
    text-align: center;
    margin: auto;
    max-width: 60%; 
    padding: .4rem;
}

/*-----Resource page styles -----*/

.resourceStyles h3 {
  display: block;
  margin: auto;
  text-decoration:none;
 font-size: 1.4em;
}

.resourceStyles a {
  text-decoration: none;
  display:block;
  text-align:center;
  height: flex;
  color:whitesmoke;
  margin-left:25%;
  margin-right:25%;
  /*---Fade out--- */
  background: auto;
  transition: 0.1s;
}

.resourceStyles a:hover {
  background: rgba(206, 202, 222, 0.153);
  transition: 0.3s;
}

.resourceStyles a:focus {
  color:rgb(147, 81, 209);
  background-color: rgba(134, 131, 145, 0.274);
}

.resourceStyles p {
  display: flex;
  text-align: center;
  align-items:center;
  margin: auto;
  max-width: 60%; 
  padding: .4rem;
}
